h1{
    background-color: green;
    color: white;
    padding-left: 20px;
    font-size: 200%;
    height: 100px;
    font-family: "Times New Roman";
    text-align: start;
}
.grid{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 350px 350px 350px;
    margin-left: 10%;
}
.silder-terre{
    background-color: rgba(255, 255, 255, 0.8);
    border: #ececec;
    margin: 20px;
    box-shadow: 2px 4px 7px 2px #888888;
}
img{
    width: 360px;
    height:80%;
}
h3{
    margin-left: 20px;
}